@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView Context="authenticationState">
    <Authorized>
        <a href="authentication/profile">Hello, @authenticationState.User.Identity.Name!</a>
        <SignOut>
            <OnSignOut Context="BeginSignOut">
                <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
            </OnSignOut>
        </SignOut>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
